# Ignore Unity temporary files
Library/
Temp/
Obj/

# Ignore generated IDE files
*.csproj
*.unityproj
*.sln
*.user
*.userprefs

# Ignore build output directories
Build/
Builds/

# Ignore log files
*.log

# Ignore the .vs folder created by Visual Studio
.vs/
